

<h1><a href="http://localhost:3000/categories/new">New Category</a></h1>
<br>
<h1><a href="http://localhost:3000/tasks/new">New Task</a></h1>
<br>
<h1><a href="http://localhost:3000/notes/new">New Note</a></h1>
